networks:
  - ssid: "<WiFiName>"
    password: "<PASSWORD>"

device_password: "<PASSWORD>"

# a random key can be generated here: https://esphome.io/components/api.html#configuration-variables
api_encryption_key: "<KEY>"
